#main_container
{
    text-align: center;
}

#weatherform
{
    padding-top: 30px;
}

.countries
{
    float: left;
    margin-left: 90px;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: .5em;
}

.states
{
    display: inline-block;
    margin-left: 19%;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: .5em;
}

.cities
{
    float: right;
    margin-right: 120px;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: .5em;
}